@import '/src/styles/index';

.backdrop {
  position: fixed;
  z-index: 1;
  height: 100%;
  left: 0;
  display: flex;
  overflow-x: hidden;
  background: $xanova-overlay-bg;
  backdrop-filter: $xanova-overlay-blur;
  -webkit-backdrop-filter: $xanova-overlay-blur;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;

  @include respond-to-xanova(mobile) {
    align-items: flex-end;
  }
}

.contentWrap {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
  max-width: 500px;
  min-width: 500px;
  min-height: 100%;
  height: 100%;
  padding-top: 65px;
  box-sizing: border-box;
  background: $xanova-white;
  overflow: hidden;

  @include respond-to-xanova(mobile) {
    max-width: none;
    min-width: 0;
    width: 100%;
    height: calc(100% - 132px);
    min-height: auto;
    border-radius: 20px 20px 0 0;
  }
}

.line {
  display: none;

  @include respond-to-xanova(mobile) {
    display: block;
    position: absolute;
    left: 50%;
    top: 10px;
    width: 55px;
    height: 6px;
    border-radius: 20px;
    background-color: $xanova-black-10;
  }
}

.closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: $xanova-black-10;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;

  &:hover {
    opacity: 0.7;
  }
}

.closeButton::before,
.closeButton::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 1.2px;
  background-color: $xanova-black;
  transform-origin: center;
}

.closeButton::before {
  transform: rotate(45deg);
}

.closeButton::after {
  transform: rotate(-45deg);
}

.closeButton:hover::before,
.closeButton:hover::after {
  opacity: 0.7;
}
