@import '/src/styles/index';

.inputBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-radius: 10px;
  border: 1px solid $p-ivory;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  gap: 12px;
  box-shadow: 0px 1px 2px -1px #110c2214;
}

.assetNameMax {
  @include ag-H18;
  color: $p-system-green;
  cursor: pointer;

  flex-shrink: 0;
  text-align: right;
  width: 40px;
}

.input {
  @include ag-H18;
  border: 0;
  width: 100%;

  &:focus-visible {
    outline: 0;
    border: 0;
  }
}

.inputPlaceholder {
  @include ag-P18;
  opacity: 0.3;
}

.currencyBlock {
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.currencyText {
  @include ag-P12;
  color: $p-deep-space-80;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}
