@import '/src/styles';

.contentWrap {
  display: flex;
  gap: 24px;
  overflow: hidden;

  @include respond-to(p-tablet) {
    overflow: auto;
    flex-direction: column;
  }
}

.contentLeft {
  flex-grow: 1;
  background-color: $white;
  border-radius: 10px;
  overflow-y: auto;
  min-width: 700px;

  @include respond-to(p-desktop-s) {
    min-width: 470px;
    min-height: 805px;
  }

  @include respond-to(p-mobile) {
    min-width: auto;
    min-height: auto;
  }
}
.contentRight {
  display: flex;
  flex-direction: column;
  gap: 24px;
  // max-height: heightControl || '100%';
  flex-grow: 1;
  min-width: 626px;

  @include respond-to(p-desktop-s) {
    min-width: 470px;
  }

  @include respond-to(p-mobile) {
    min-width: auto;
  }
}

.txnHistorySection {
  display: flex;
  flex-grow: 1;
  background-color: $white;
  border-radius: 10px;
  overflow-y: hidden;
}

.balanceInfoBlockWrap {
  flex-shrink: 0;
}

.balanceInfoBlock {
  background-color: $white;
  padding: 40px;
  border-radius: 10px;

  @include respond-to(p-desktop-s) {
    padding: 20px;
  }
}

.totalBalanceTitle {
  @include ag-H14;
  color: $p-deep-space;
  margin-bottom: 20px;
}

.totalBalanceAmount {
  @include ag-H34;
  margin-bottom: 8px;
}

.totalBalanceSubTitle {
  @include ag-H16;
  color: $p-deep-space;
}

.divider {
  border-bottom: 1px solid $p-simple-soft-grey-20;
  margin: 36px 0;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include respond-to(p-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца */
    grid-template-rows: repeat(2, auto); /* Две строки */
    gap: 12px;
  }
}

.primaryActionsGroup {
  display: flex;
  gap: 12px;

  @include respond-to(p-tablet) {
    display: contents; /* Передает кнопки в родительский grid */
  }
}

// PriceChartComponent
.chartBlockWrap {
  padding: 40px;
  background-color: $white;
  border-radius: 10px;

  @include respond-to(p-desktop-s) {
    padding: 20px;
  }
}

.assetInfoWrap {
  display: flex;
  justify-content: space-between;
}

.graphIcon {
  display: flex;
  align-items: center;
}

.assetImg {
  width: 64px;
  height: 64px;
  border-radius: 5px;
  margin-right: 22px;

  @include respond-to(p-desktop-s) {
    width: 40px;
    height: 40px;
  }
}

.assetNameWrap {
  display: flex;
  flex-direction: column;
  //gap: 6px;
}

.assetName {
  @include ag-H24;
  color: $p-deep-space;
  //line-height: 33.6px;

  @include respond-to(p-desktop-s) {
    @include ag-H20;
  }
}

.assetId {
  @include ag-H20;
  color: $p-deep-space;

  @include respond-to(p-desktop-s) {
    @include ag-P12;
    color: $p-simple-grey;
  }
}

.assetChangeWrap {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}

.assetChange {
  @include ag-H20;

  @include respond-to(p-desktop-s) {
    @include ag-H12;
  }
}

.priceChartWrap {
  height: 515px;
  margin-top: 110px;
  margin-bottom: 57px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond-to(p-desktop-s) {
    margin-top: 36px;
    margin-bottom: 55px;
  }

  @include respond-to(p-mobile) {
    height: 240px;
  }
}

.timeLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  background-color: $p-ivory;
  color: $p-deep-space;
  @include ag-H12;
  border-radius: 5px;
}

.timeLineItem {
  height: 33px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $p-deep-space-10;
  }
}

.timeLineItemActive {
  background-color: $p-deep-space;
  color: $white;

  &:hover {
    background-color: $p-deep-space;
    color: $white;
  }
}

.graphText {
  display: flex;
  justify-content: center;
  margin: 55px 85px 0px 85px;
  @include ag-P14;
  text-align: center;
  color: $p-deep-space-80;

  @include respond-to(p-desktop-s) {
    margin: 55px 0 0;
  }

  @include respond-to(p-mobile) {
    margin: 36px 0 0;
  }
}

.redColor {
  color: $p-system-red;
}

.greenColor {
  color: $p-system-green;
}

.headerWrap {
  margin: 20px 20px 10px 20px;

  @include respond-to(p-mobile) {
    margin: 12px 12px 8px;
  }
}
