@import '/src/styles';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: auto;
  padding: 50px;

  @include respond-to(p-mobile) {
    padding: 20px;
    min-height: 620px;
  }
}

.title {
  @include ag-H20;
  color: $p-deep-space;
  margin-top: 30px;
  text-align: center;
  @include respond-to(p-mobile) {
    width: 260px;
  }
}

.subTitle {
  @include ag-P14;
  color: $p-deep-space;
  margin-top: 6px;
  max-width: 350px;
  margin-bottom: 57px;
  text-align: center;
  @include respond-to(p-mobile) {
    width: 260px;
  }
}
