@import '/src/styles/index';

.root {
  position: fixed;
  z-index: 400;
  inset: 0;
}

.backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.root.open .backdrop {
  opacity: 1;
}

.paper {
  top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  outline: 0;
  z-index: 400;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  border-radius: 0.25rem 0.25rem 0 0;
}

.anchorLeft {
  left: 0;
  right: auto;
}

.anchorTop {
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  height: auto;
  max-height: 100%;
}

.anchorBottom {
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  max-height: 100%;
}

.anchorRight {
  left: auto;
  right: 0;
}

.bottomFullSize {
  top: 3.75rem;
}

.bottomFullSizeOnlyContentArea {
  top: 3.75rem;
  max-height: calc(100% - 8.125rem);
}
