@import '/src/styles/index';

.dropDownSelectedText {
  @include set-font($size: 1rem, $weight: 600, $family: 'Lexend');
  color: #445374;
  //width: 100%;
  flex-grow: 1;
}

.networksDropdownMain {
  position: relative;
  height: 62px;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid $dark-grey-20;
  background-color: var(--amountInputBackgroundNew);
  overflow: hidden;
}

.error {
  border: 1px solid $s-red;
}

.networksDropdownTriangle {
  transform: rotate(-90deg);
  width: 17px;
  margin-right: 12px;
}

.networksDropdownContainer {
  position: absolute;
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  border-width: 1px;
  margin-top: 6px;
  z-index: 1;
  overflow: hidden;
  max-height: 290px;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;

  -webkit-box-shadow:
    0px 16px 13.9px 0px #6d6d6d0d,
    0px 4px 11.9px 0px #6d6d6d1f; /* Для Safari и старых версий Chrome */
  -moz-box-shadow:
    0px 16px 13.9px 0px #6d6d6d0d,
    0px 4px 11.9px 0px #6d6d6d1f; /* Для старых версий Firefox */
  box-shadow:
    0px 16px 13.9px 0px #6d6d6d0d,
    0px 4px 11.9px 0px #6d6d6d1f;
}

.networksDropdownContainerTrade {
  width: 99%;
  max-height: 306px;
  overflow: auto;
}

.networksDropdownItem {
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--dropDownListBg);

  &:hover {
    background-color: var(--dropDownListHover);
    opacity: 0.8; // TODO Den зачем он тут opacity?
  }
}

.borderColor {
  border-color: $blue;
}
