@import '/src/styles/index';

.heading {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2.5rem;
  &.backgroundHeader {
    background-color: transparent;
  }
}
.title {
  font-size: 1rem;
}
.close {
  position: absolute;
  right: 1rem;
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
}
.data {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
