@import '/src/styles';

.dashboard {
  display: flex;
  flex: 1;
  gap: 24px;
  padding: 16px 80px;
  // mainNavPanel = 74px; footer = 62px; dashboard (padding) = 16px * 2
  min-height: calc(100vh - 74px - 62px - 16px - 16px);
  overflow: auto;

  @include respond-to-biz(xl) {
    flex-direction: column;
    // mainNavPanel = 64px; footer = 62px; dashboard (padding) = 36px * 2
    min-height: calc(100vh - 64px - 62px - 36px - 36px);
    gap: 50px;
    padding: 16px 50px;
  }

  @include respond-to-biz(md) {
    flex-direction: column;
    padding: 36px 15px;
  }
}

.timerWrapLg {
  display: none;

  @include respond-to-biz(lg) {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.walletsColumn {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 5;

  @include respond-to-biz(xl) {
    flex-grow: 0;
  }
}

.walletColumnLabel {
  @include ag-s20-reg;
  color: $navy;

  @include respond-to-biz(xl) {
    @include ag-s16-reg;
  }
  @include respond-to-biz(md) {
    @include ag-s16-medium;
  }
}

.walletSection {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 26px;
}
.searchBarWrap {
  width: 162px;
}
.viewAllButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  @include ag-s12;
  color: $dark-grey;
  letter-spacing: -0.5px;
  text-decoration: underline;
}

.walletRowWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 189px;

  @include respond-to-biz(md) {
    height: 181px;
    gap: 8px;
  }
}

.marketsColumn {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.marketsColumnFixHeightXXl {
  //707px Minimum height of the marketsColumn container for XXL (adjust if the height of the walletsColumn container changes)
  min-height: 707px;
}

.transactionHistory {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 275px;
  overflow: auto;
  height: 100%;
}

.marketSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 12px;
  //background-color: grey; // TODO delete
  //border-radius: 8px; // TODO delete
  overflow: hidden;
}

.marketsWrap {
  background-color: $light-grey;
  flex: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.headersMarketWrap {
  padding: 20px;
  display: flex;
  //justify-content: space-between;
}

.rowMarketWrap {
  //background-color: #00e06d;
  padding: 10px 20px;
  display: flex;
  @include ag-s12;
  color: $navy;
}

.headerText {
  @include ag-s12;
  color: $dark-grey;
}

.cell1 {
  flex: 1;
  //background-color: blue;
  display: flex;
  gap: 10px;
}

.cell2 {
  flex: 1;
  //background-color: yellow;
}

.cell3 {
  flex: 1;
  //margin-left: auto;
  //background-color: red;
  justify-content: flex-end;
  gap: 6px;
  display: flex;
  align-items: center;
}

.tableMarketWrap {
  //background-color: red;
  flex-grow: 1;
  overflow: auto;
  //max-height: 90vh; // таноусвить ограничение высоты для появления скрола
}

.flexGrow1 {
  flex-grow: 1;
}

.walletText {
  @include ag-s14-0;
  color: $navy;
}
.noWrapText {
  text-wrap-mode: nowrap;
}

.walletSubText {
  @include ag-s10;
  color: $dark-grey;
}

.walletAsset {
  width: 120px;
  display: flex;
  gap: 12px;
}

.walletAssetIcon {
  width: 35px;
  height: 35px;
}

.walletAssetWrapText {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

//CryptoWalletsRow
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 55px;
  border-radius: 20px;
  background-color: $light-grey;

  @include respond-to-biz(lg) {
    gap: 5px;
  }

  @include respond-to-biz(md) {
    cursor: pointer;
  }
}

.rowAmount {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 2px;

  @include respond-to-biz(md) {
    align-items: end;
  }
}

.rowButtons {
  width: 200px;
  display: flex;
  gap: 12px;

  @include respond-to-biz(md) {
    display: none;
  }
}

.marketsIcon {
  width: 17px;
  height: 17px;
}

//fiat
.fiatWalletCardWrap {
  display: flex;
  gap: 12px;

  @include respond-to-biz(md) {
    flex-direction: column;
  }
}

.fiatWalletCard {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
  gap: 32px;
  border-radius: 20px;
  background-color: $light-grey;
}

.fiatWalletCardRow {
  display: flex;
  gap: 12px;
}
.fiatWalletCardButtons {
  display: flex;
  gap: 12px;
}

.hide {
  display: none;
}

// card only one fiat
.cardContainer {
  padding: 10px;
  border-radius: 20px;
  background-color: #f5f5f5;
  flex-grow: 1;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardDetails {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cardIcon {
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.cardAmount {
  @include ag-s14-0;
  color: $navy;
}

.cardAssetId {
  @include ag-s10;
  color: $dark-grey;
}

.cardActions {
  display: flex;
  gap: 12px;
  width: 200px;
}
