@import '/src/styles/index';

.backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
}

.contentWrap {
  position: relative;
  margin: 88px 78px 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  overflow-y: auto;

  @include respond-to-biz(md) {
    margin: 48px 15px 15px auto;
  }
}

.noPaddingClose {
  top: 1rem;
  right: 1rem;
}

.closeButton {
  position: absolute;
  top: 23px;
  right: 25px;
  margin: 0 0 0 auto;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  width: 25px;
  height: 25px;
}

.closeButton::before,
.closeButton::after {
  content: '';
  position: absolute;
  width: 17.68px;
  height: 1.96px;
  background-color: $dark-grey;
  transform-origin: center;
}

.closeButton::before {
  transform: rotate(45deg);
}

.closeButton::after {
  transform: rotate(-45deg);
}

.closeButton:hover::before,
.closeButton:hover::after {
  opacity: 0.5;
}
