@import '/src/styles';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 6px;
}

.title {
  @include ag-H18;
  color: $p-deep-space;
}

.subTitle {
  @include ag-P12;
  color: $p-deep-space-80;
}
