@import '/src/styles';

.contentWrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  border-radius: 10px;
  padding: 32px 24px;
  background-color: $white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.closeWrap {
  display: flex;
  align-self: end;
}

.closeIcon {
  margin-top: 33px;
  margin-right: 33px;
  margin-bottom: 13px;
  cursor: pointer;
}

.title {
  @include ag-H30;
  text-align: center;
  color: $p-deep-space;
  margin-bottom: 48px;
}

.titleSummary {
  @include ag-H30;
  text-align: center;
  color: $p-deep-space;
}

.descriptionSumarry {
  @include ag-P16;
  color: $p-deep-space-80;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 440px;
  width: 100%;
  flex-grow: 1;
  @include ag-P16;
  color: $p-deep-space-80;
  position: relative;
}

.enterAmount {
  @include ag-P12;
  color: $p-deep-space-80;
  margin-bottom: 8px;
}

.tierRateWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  gap: 14px;
  border-radius: 10px;
  border: 1px solid $p-deep-space-10;
  background-color: $white;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
}

.tierRateApy {
  @include ag-H24;
  color: $p-deep-space;
}

.tierRateTitle {
  @include ag-P12;
  color: $p-deep-space-80;
}

.errorBlock {
  max-height: 100px;
  height: 100%;
  color: red;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.attentionText {
  @include ag-P12;
  background-color: $p-system-yellow-10;
  padding: 24px;
  border-radius: 10px;
  color: $p-system-yellow;
  display: flex;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 24px;
}

.attentionIcon {
  height: 24px;
  margin-right: 24px;
}

.completedText {
  @include ag-H30;
  max-width: 423px;
  text-align: center;
}

.assetIcon {
  width: 46px;
  height: 46px;
  margin-right: 16px;
  border-radius: 100%;
}

.dropDownSelectedRow {
  padding-left: 16px;
}

.dropDownRowText {
  @include ag-H14;
  color: $p-deep-space;
}
.dropDownPlaceholderText {
  @include ag-P14;
  color: $p-deep-space-20;
  padding-left: 20px;
}

.dropDownRowIconWrap {
  display: flex;
  align-items: center;
}

.assetIdText {
  @include ag-H14;
  color: $p-deep-space;
}

.networksDropdownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
  cursor: pointer;
}

.btnsWrap {
  display: flex;
  gap: 16px;
}
.btnBack {
  width: 100%;
  max-width: 136px;
}

.autoHeight {
  min-height: 20px;
  max-height: 100px;
  height: 100%;
}

.errorWrap {
  display: flex;
  height: 20px;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  margin-bottom: 20px;
}
.errorText {
  @include ag-P12;
  color: $p-system-red;
}
