@import '/src/styles';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: $white;
  padding: 24px 0;

  @include respond-to-biz(md) {
    align-items: flex-start;
    background-color: $light-grey;
    padding: 17.5px 15px;
    background-color: $light-grey;
  }
}

.contentWrap {
  position: relative;
  background-color: $light-grey;
  width: 744px;
  border-radius: 20px;
  padding: 70px 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 840px;

  @include respond-to-biz(lg) {
    width: 570px;
    padding: 70px 50px;
  }
  @include respond-to-biz(md) {
    width: 100%;
    border-radius: 0;
    padding: 0 15px 78px;
    min-height: 670px;
    height: 100%;
  }
}
