@import '/src/styles/index';

/* TODO old DELETE */

.title {
  @include ag-H30;
  color: $p-deep-space;
  text-align: center;
  margin-bottom: 4rem;
}

.timerWrap {
  min-height: 275px;
  background-size: cover;
}

.descriptionLink {
  @include ag-P14;
  color: $p-system-green;
  text-decoration: underline;
}

.counterTitle {
  @include ag-P12;
  color: $p-deep-space;
  text-align: center;
  margin-bottom: 12px;
  line-height: 160%;
}

.counterItem {
  background-color: $white;
  border-radius: 7px;
  min-width: 50px;
  min-height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include ag-H20;
  color: $p-deep-space;
}

.counterDateText {
  @include ag-P12;
  color: $p-deep-space;
  line-height: 160%;
  margin-top: 5px;
}

.dotCounter {
  margin: 0 7px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include ag-H14;
  color: $p-deep-space;
}

.infoTitle {
  @include ag-P16;
  color: $p-deep-space;
  text-align: center;
  margin-top: 3px;
}

.infoAssetAmount {
  @include ag-H24;
  color: $p-deep-space;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
}

.infoSuperchargeWrap {
  display: flex;
  justify-content: space-between;
}

.infoSuperchargeCol1 {
  @include ag-P12;
  color: $p-deep-space;
  line-height: 16px;
  margin-bottom: 12px;
}

.infoSuperchargeCol2 {
  @include ag-H12;
  color: $p-deep-space;
}

.noSuperchargeTitle {
  @include ag-H30;
  color: $p-deep-space;
  text-align: center;
  max-width: 408px;
  margin-bottom: 16px;
}

.noSuperchargeDescription {
  @include ag-P16;
  color: $p-deep-space;
  text-align: center;
  max-width: 513px;
  line-height: 170%;
}

.noSuperchargeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 80px;
}

.containerModal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mainForm {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 438px;
  align-self: center;
}

.errorText {
  @include ag-P12;
  color: $p-system-red;
}

.attentionText {
  @include ag-P12;
  background-color: $p-system-yellow-10;
  padding: 24px;
  border-radius: 10px;
  color: $p-system-yellow;
  display: flex;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 24px;
}

.summaryBlockTitle {
  @include ag-H12;
  color: $p-deep-space-80;
  margin-bottom: 1rem;
}

.cryptoAmount {
  @include ag-H24;
  color: $p-deep-space-80;
  margin-bottom: 6px;
  display: flex;
}

.currencyAmount {
  @include ag-H16;
  color: $p-deep-space-80;
  margin-bottom: 24px;
}

.conversion {
  @include ag-P12;
  color: $p-deep-space-80;
  margin-bottom: 6px;
}

.divider {
  border-bottom: 1px solid $p-ivory;
  margin: 24px 0;
}

//supercharge card
.superchargeCard {
  display: flex;
  flex-direction: column;
  gap: 46px;
  padding: 24px;
  border-radius: 15px;
  background-color: $p-bg;
  overflow: hidden;
}

.superchargeCardContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.superchargeCardHeader {
  display: flex;
  gap: 24px;
}

.superchargeCardHeaderIcon {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}

.superchargeCardHeaderTitleWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.superchargeCardHeaderTitle {
  @include ag-H16;
  color: $p-system-green;
}

.superchargeCardHeaderSubTitle {
  @include ag-H20;
  color: $p-deep-space;
}

.superchargeCardHeaderLine {
  border-bottom: 1px solid $p-ivory;
}

.superchargeCardBodyWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.superchargeCardBody {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.superchargeCardBodyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.superchargeCardBodyRowTitle {
  @include ag-P12;
  color: $p-deep-space-80;
}
.superchargeCardBodyRowSubTitle {
  @include ag-H12;
  color: $p-deep-space;
  text-align: right;
}

.superchargeCardProgressWrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.superchargeCardProgressTitle {
  @include ag-H16;
  color: $p-deep-space;
}
