@import '/src/styles/index';

.transferDescription {
  @include ag-P12;
  color: $p-deep-space-80;
  text-align: center;
}

.transferDescription2 {
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
  width: 110%;
  position: relative;
  right: 5%;
  margin-bottom: 36px;
}

.transfer {
  @include ag-H30;
  color: $p-deep-space;
  text-align: center;
}

.bankName {
  @include ag-H14;
  color: $p-deep-space;
  margin-bottom: 5px;
  margin-left: 9px;
}

.bankIban {
  @include ag-P12;
  color: $p-deep-space;
  margin-left: 9px;
}

.twoFaTitle {
  @include ag-H30;
  color: $p-deep-space;
  text-align: center;
  margin-bottom: 20px;
}

.twoFaDescription {
  @include ag-P12;
  color: $p-deep-space-80;
  text-align: center;
  margin-bottom: 54px;
}

.terms {
  color: $p-system-green;
  text-decoration: underline;
  cursor: pointer;
}

.containerModal {
  //width: 775px;
  //display: flex;
  //flex-direction: column;
  //padding: 94px;
  //box-sizing: border-box;
  //max-width: 80vw;
  //max-height: 80vh;
  //overflow: auto;
}

.formWrap {
  min-width: 440px;

  @include respond-to(p-mobile) {
    width: 100%;
    min-width: 311px;
  }
}

.titleInfoBlock {
  @include ag-P12;
  color: $p-deep-space-80;
}

.blockGap12 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.balanceAmount {
  @include ag-P12;
  color: $p-deep-space-80;
}

.attentionText {
  @include ag-P12;
  color: $p-system-yellow;
  background-color: $p-system-yellow-10;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-self: center;
  width: 100%;
}

.attentionIcon {
  height: 24px;
  margin-right: 24px;
}

.currencyType {
  position: absolute;
  top: 6px;
  right: 2px;
  background-color: $white;
  display: flex;
  padding: 16px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 20px;
  gap: 15px;
}

.infoBlockTitle {
  @include ag-H14;
  color: $p-deep-space;
}

.infoBlockDescription {
  @include ag-P12;
  color: $p-deep-space-80;
  display: flex;
  justify-content: space-between;
}

.infoBlockDescriptionAmount {
  @include ag-H12;
  color: $p-deep-space;
}
.infoBlockDescriptionAmountBig {
  @include ag-H20;
  color: $p-deep-space;
}

.notAvailableModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  gap: 34px;
  width: 100%;
  max-width: 540px;
  box-sizing: border-box;

  @include respond-to(p-mobile) {
    padding: 30px 20px;
  }
}

.attentionIconNotAvailable {
  width: 70px;
  height: 63px;
  align-self: center;

  @include respond-to(p-mobile) {
    width: 50px;
    height: 45px;
  }
}

.textWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modalTitle {
  @include ag-H24;
  color: $p-deep-space;
  text-align: center;
}

.positionRelative {
  position: relative;
}

.autoHeight {
  height: 100px;

  @include respond-to(p-mobile) {
    height: 0px;
  }
}
