@import '/src/styles/index';

.attentionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: $p-system-yellow-10;
  padding: 24px;
  margin: 20px 24px 0 24px;
  border-radius: 10px;
  margin-top: 20px;

  @include respond-to(p-mobile) {
    margin: 24px 14px 0 14px;
  }
}

.attentionText {
  @include ag-P12;
  line-height: 19.2px;
  color: $p-system-yellow;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 20px;
  overflow: auto;

  @include respond-to(p-mobile) {
    padding: 24px 14px;
  }
}

.tableHeader {
  display: flex;
  padding: 0 10px;
  padding-bottom: 16px;
  gap: 10px;

  @include respond-to(p-mobile) {
    display: none;
  }
}

.headerText {
  @include ag-P12;
  color: $p-simple-grey;
}

.cell1 {
  flex: 1;
}
.cell2 {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cell3 {
  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cell4 {
  flex: 0.7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cell5 {
  flex: 1;
  max-width: 200px;
  min-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableRowsWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
  flex-grow: 1;

  @include respond-to(p-mobile) {
    gap: 14px;
  }
}

.tableRow {
  display: flex;
  min-height: 31px;
  box-sizing: border-box;
  padding: 0 10px;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  height: 36px;
}

.dateText {
  @include ag-P12;
  color: $p-simple-grey;
}

.text {
  @include ag-H14;
  color: $p-deep-space;
}

.submitButton {
  @include ag-H12;
  color: $p-deep-space;
  width: 100%;
  height: 36px;
  transition: all 0.3s;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid $p-deep-space-10;
  min-width: 85px;

  &:hover {
    background-color: $p-deep-space-10;
  }

  &:disabled {
    opacity: 0.2;
  }
}

//mobile
.listContainer {
  background-color: $white;
  border-radius: 15px;
  gap: 14px;
  display: flex;
  flex-direction: column;
  padding: 0 14px;
  overflow: auto;
  margin-top: 24px;
}

.listRow {
  display: flex;
  flex-direction: row;
  padding: 8px;

  height: 58px;
  box-sizing: border-box;
}

.listIcon {
  width: 42px;
  height: 42px;
  margin-right: 36px;
}

.listRowTitleWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.listRowTitle {
  display: flex;
  gap: 5px;
  @include ag-H16;
  color: $p-deep-space-80;
}

.listTextDate {
  @include ag-P12;
  color: $p-deep-space-80;
}

.listTextAmount {
  @include ag-H16;
  color: $p-deep-space-80;
}

.flexGrow1 {
  flex-grow: 1;
}
