$breakpoint-desktop: 1280px;
$breakpoint-tablet: 1279px;
$breakpoint-mobile: 650px;

@mixin respond-to-xanova($breakpoint) {
  @if $breakpoint == desktop {
    @media (min-width: #{$breakpoint-desktop}) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: #{$breakpoint-tablet}) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: #{$breakpoint-mobile}) {
      @content;
    }
  }
}
