//@import 'global.scss';

$white: var(--White);
$grey-0: #f5f5f5;
$grey-1: #a0a0a0;
$grey-2: #d2d2d2;
$grey-3: #767676;
$grey-4: #e5e5e5;
$grey-5: #dadada;
$grey-6: #e2e2e2;
$grey-7: rgba(85%, 85%, 85%, 0.5);
$grey-8: #dedede;
$grey-9: #a5a7a8;
$grey-10: #d8d8d8;
$grey-11: #c4c4c4;
$grey-12: #f1eff0;
$default-scroll-bg: #eae3e0;
$dark-blue: #242a2e;
$primary-color: #f68119;
$orange-0: #fff8f2;
$orange-1: #f26522;
$orange-2: #f6831e;
$orange-3: #eb5f22;
$border-light-gray: #f6f6f6;
$text-color: #262832;
$text-color-2: #445374;
$link-color: var(--mainBlue); // #9A95CE;
$btn-hover: #918cc1;
$green-1: #00e06d;
$black: #000;

$default-button-gradient: linear-gradient(90deg, rgba(242, 98, 34, 1) 0%, rgba(246, 131, 31, 1) 100%);
$cards-border-gradient: linear-gradient(90deg, rgba(242, 97, 34, 1) 0%, rgba(230, 176, 30, 1) 100%);
$contact-gradient: linear-gradient(185deg, rgba(249, 191, 143, 1) 0%, rgba(253, 167, 140, 1) 100%);

$shadow-1: 1px 1px 30px #d8d6d6;
$shadow-2: 1px 10px 10px #ececec;
$shadow-3: 1px 8px 14px #c8c4c4;
$card-shadow: 1px 1px 14px #ececec;
$inset-shadow-box: inset 1px 1px 10px #d7d7d7;
$inset-shadow-box-green: inset 1px 1px 1px #01c953;
$inset-shadow-icon: inset 1px 1px 5px #f1f3f4;

// biz
$bg: #fbfbfb;
$lg-white-100-black20: #e5e5e5;
$dark-navy: #1f1d3a;
$grey: var(--Grey); // #585562;
$dark-grey: var(--Dark-Grey); //#989898;
$dark-grey-20: rgba(152, 152, 152, 0.2);
$dark-grey-50: var(--Dark-Grey-50); //rgba(152, 152, 152, 0.5);
$lg-dark-grey-100-black20: #7a7a7a;
$light-grey: var(--Light-Grey); //#f5f5f5;
$light-grey-50: rgba(245, 245, 245, 0.5);
$navy: var(--Navy); // #1f1d3a;
$s-red: var(--S-Red); // #d52941;
$s-red-20: var(--S-Red-20); // rgba(213, 41, 65, 0.2);
$lg-red-20-white-100: #f7d4d9;
$s-green: var(--S-Green); // #137547;
$s-green-20: var(--S-Green-20); // rgba(19, 117, 71, 0.2);
$lg-green-20-white-100: #d0e3da;
$s-yellow: var(--S-Yellow); // #fcab0c;
$s-yellow-20: var(--S-Yellow-20); // rgba(252, 171, 12, 0.2);
$lg-yellow-20-white-100: #feeece;
$blue: var(--Blue); // #564db5;
$blue-10: var(--Blue-10); // rgba(86, 77, 181, 0.1);
$blue-20: var(--Blue-20); // rgba(86, 77, 181, 0.2);
$blue-30: var(--Blue-30); // rgba(86, 77, 181, 0.3);
$blue-50: var(--Blue-50); // rgba(86, 77, 181, 0.5);
$lg-blue-100-black20: #453e91;
$lg-white-100-blue20: rgb(221, 219, 240);
$lg-white-100-blue50: rgb(170 166 218);
$lg-white-100-dark-grey-20: rgb(234, 234, 234);
$modal-stroke: #f3f3f4;

//
$lavender: var(--Lavender); //#9C88FD
$lavender-10: var(--Lavender-10); //rgba(156, 136, 253, 0.1)
$lavender-20: var(--Lavender-20); //rgba(156, 136, 253, 0.2)
$system-red: var(--System-Red); //#FF3B30
$input-stroke: var(--Input-Stroke); //#E2DCFF
$light-navy: var(--Light-Navy); //#445374
$grey-3: var(--Grey-3); //#ececed
$grey-1: var(--Grey-1); //#B3B1B8
$input-bg: var(--Input-BG); //#F9F8FF
$s-yellow-10: var(--S-Yellow-10); // rgba(255, 149, 0, 0.1);

// PAIRS
$p-black: #000000;
$p-deep-space: var(--Deep-Space);
$p-deep-space-10: var(--Deep-Space-10); //'#1A1A1A' 10%
$p-deep-space-20: rgba(26, 26, 26, 0.2); //'#1A1A1A' 20%
$p-deep-space-80: rgba(26, 26, 26, 0.8); //'#1A1A1A' 80%
$p-ivory: var(--Ivory); //#dee2da;
$p-simple-grey: #808a9d;
$p-simple-soft-grey: #afb4c0;
$p-simple-soft-grey-20: rgba(175, 180, 192, 0.2); // #AFB4C0 20%
$p-bg: var(--P-BG); //#f6f9f4;
$p-system-green: var(--P-System-Green); //#00A848
$p-system-green-10: var(--P-System-Green-10); // #00A848 10%
$p-system-red: var(--P-System-Red); //#f55c47;
$p-system-red-10: var(--P-System-Red-10); // #F55C47 10%
$p-system-red-20: var(--P-System-Red-20); // #F55C47 20%
$p-system-yellow: var(--P-System-Yellow); //#ff9500
$p-system-yellow-10: rgba(255, 149, 0, 0.1); // #FF9500 10%
$p-label-blue: var(--P-Label-Blue);
$p-label-blue: var(--P-Label-Blue-10); // #0028B5 10%

// Xanova palette
$xanova-gold: var(--Xanova-Gold);
$xanova-gold-50: var(--Xanova-Gold-50);
$xanova-gold-30: var(--Xanova-Gold-30);
$xanova-gold-2: var(--Xanova-Gold-2);
$xanova-gold-3: var(--Xanova-Gold-3);

$xanova-white: var(--Xanova-White);
$xanova-white-50: var(--Xanova-White-50);
$xanova-white-20: var(--Xanova-White-20);
$xanova-white-10: var(--Xanova-White-10);

$xanova-black: var(--Xanova-Black);
$xanova-black-80: var(--Xanova-Black-80);
$xanova-black-60: var(--Xanova-Black-60);
$xanova-black-50: var(--Xanova-Black-50);
$xanova-black-40: var(--Xanova-Black-40);
$xanova-black-20: var(--Xanova-Black-20);
$xanova-black-10: var(--Xanova-Black-10);

$xanova-light-black: var(--Xanova-Light-Black);

$xanova-red: var(--Xanova-Red);
$xanova-red-20: var(--Xanova-Red-20);
$xanova-red-30: var(--Xanova-Red-30);

$xanova-green: var(--Xanova-Green);
$xanova-green-50: var(--Xanova-Green-50);
$xanova-green-30: var(--Xanova-Green-30);

$xanova-bg-dash: var(--Xanova-Bg-Dash);
$xanova-mobile-dash-bg: var(--Xanova-Mobile-Dash-Bg);
$xanova-bg: var(--Xanova-Bg);
$xanova-light-grey: var(--Xanova-Light-Grey);

$xanova-bg-dash-gradient: var(--Xanova-Bg-Dash-Gradient);
$xanova-mobile-dash-bg-gradient: var(--Xanova-Mobile-Dash-Bg-Gradient);
$xanova-modal-shadow: var(--Xanova-Modal-Shadow);

$xanova-overlay-bg: var(--Xanova-Overlay-Bg);
$xanova-overlay-blur: var(--Xanova-Overlay-Blur);
