@mixin flex($alignItems, $justifyContent, $flexDirection: row, $wrap: wrap) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
  flex-wrap: $wrap;
}

@mixin set-font($family: null, $size: null, $lineHeight: null, $weight: null, $mapKey: null) {
  @if ($family) {
    font-family: $family, sans-serif;
  }

  @if ($mapKey) {
    font-size: map-get($font-size-map, $mapKey);
    line-height: map-get($font-height-map, $mapKey);
    font-weight: map-get($font-weight-map, $mapKey);
  }

  @if ($size) {
    font-size: $size;
  }

  @if ($lineHeight) {
    line-height: $lineHeight;
  }

  @if ($weight) {
    font-weight: $weight;
  }
}

// TEXT styles TODO add line-height
@mixin ag-p16-regular {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
}

@mixin ag-p16-medium {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
}

@mixin ag-p16-semiBold {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
}

@mixin ag-p12 {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.7px;
}

@mixin ag-p12-bold {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
}

@mixin ag-p10 {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 300;
}

@mixin ag-p10-bold {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
}

@mixin ag-p12-semiBold {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

@mixin ag-p14-regular {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@mixin ag-p14-semiBold {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

@mixin ag-h14 {
  font-family: 'Lexend', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

@mixin ag-h16 {
  font-family: 'Lexend', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@mixin ag-p18-bold {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26.55px;
}

@mixin ag-p24 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
}

@mixin ag-h30-bold {
  font-family: 'Lexend', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 37.5px;
}
// Space Grotesk
@mixin ag-s30-medium {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.28px;
}

@mixin ag-s10 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14.75px;
}

@mixin ag-s12 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.7px;
}

@mixin ag-s12-medium {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 17.7px;
}

@mixin ag-s12-semiB {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 17.7px;
}

@mixin ag-s14-0 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.86px;
}

@mixin ag-s14-medium {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

@mixin ag-s14-semiB {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

@mixin ag-s16-reg {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin ag-s16-medium {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@mixin ag-s16-semiB {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

@mixin ag-s18-med {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px; //TODO 18? 27?
}

@mixin ag-s20-reg {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.52px;
}

@mixin ag-s20-med {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.52px;
}

@mixin ag-s24-reg {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30.62px;
}

// PAIRS

@mixin ag-H60 {
  font-family: 'Mulish', sans-serif;
  font-size: 60px;
  line-height: 84px;
  font-weight: 800;
}

@mixin ag-H36 {
  font-family: 'Mulish', sans-serif;
  font-size: 36px;
  line-height: 50.4px;
  font-weight: 800;
}

@mixin ag-H34 {
  font-family: 'Mulish', sans-serif;
  font-size: 34px;
  line-height: 47.6px;
  font-weight: 800;
}

@mixin ag-H30 {
  font-family: 'Mulish', sans-serif;
  font-size: 30px;
  line-height: 42px;
  font-weight: 800;
}

@mixin ag-H24 {
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 800;
}

@mixin ag-H20 {
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
}

@mixin ag-H18 {
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 800;
}

@mixin ag-H16 {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 800;
}

@mixin ag-H14 {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 800;
}

@mixin ag-H12 {
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  line-height: 16.8px;
  font-weight: 800;
}

@mixin ag-P36 {
  font-family: 'Mulish', sans-serif;
  font-size: 36px;
  line-height: 50.4px;
  font-weight: 400;
}

@mixin ag-P24 {
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 400;
}

@mixin ag-P18 {
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 400;
}

@mixin ag-P16 {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 400;
}

@mixin ag-P14 {
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  line-height: 19.6px;
  font-weight: 400;
}

@mixin ag-P12 {
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  line-height: 19.2px;
  font-weight: 400;
}

@mixin ag-P11 {
  font-family: 'Mulish', sans-serif;
  font-size: 11px;
  line-height: 15.4px;
  font-weight: 400;
}

@mixin ag-P10 {
  font-family: 'Mulish', sans-serif;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
}

@mixin ag-P8 {
  font-family: 'Mulish', sans-serif;
  font-size: 8px;
  line-height: 11.2px;
  font-weight: 400;
}

// Xanova
@mixin xanova-h40-medium {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
}

@mixin xanova-h30-semiBold {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0;
}

@mixin xanova-h20-semiBold {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0;
}

@mixin xanova-h16-semiBold {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0;
}

@mixin xanova-h14-medium {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0;
}

@mixin xanova-p18-regular {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0;
}

@mixin xanova-p16-medium {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
}

@mixin xanova-p16-regular {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0;
}

@mixin xanova-p14-regular {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
}

@mixin xanova-p12-medium {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
}

@mixin xanova-p12-regular {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
}
