@import '/src/styles/index';

.containerModal {
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
  align-items: center;
  height: 690px;
  width: 473px;
  gap: 48px;
  background-color: $light-grey;
  border-radius: 20px;

  @include respond-to-biz(md) {
    box-sizing: border-box;
    max-width: 345px;
    height: 597px;
    padding: 30px 15px;
    justify-content: start;
    gap: 36px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;

  @include respond-to-biz(md) {
    gap: 4px;
  }
}

.avatar {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  border: solid 3px $lg-white-100-dark-grey-20;
  justify-content: center;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  background-color: $white;

  @include ag-s30-medium;
  font-weight: 400;
  line-height: 44.26px;
}

.name {
  @include ag-s20-med;
  color: $navy;
}

.email {
  @include ag-s14-0;
  color: $navy;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}

.mainBtn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.currencySwitchWrap {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: $white;
  border-radius: 20px;
  align-items: center;
  box-sizing: border-box;
  height: 58px;

  @include respond-to-biz(md) {
    flex-direction: column;
    height: 88px;
    align-items: flex-start;
    // padding: 10px 10px 10px 20px;
  }
}

.switcher {
  display: flex;
  // width: 100%;
  justify-content: space-between;
  gap: 8px;
  background-color: $lg-white-100-dark-grey-20;
  border-radius: 20px;
  padding: 2px;
  width: 207px;
  cursor: pointer;

  @include respond-to-biz(md) {
    width: 100%;
  }
}

.currencyWrap {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: $white;
  border-radius: 20px;
  align-items: center;
  box-sizing: border-box;
  height: 58px;
}

.currencyWrapHover {
  &:hover {
    background-color: $lg-white-100-black20;
  }
}

.switcherItem {
  border-radius: 20px;
  padding: 8px 10px;
  flex-grow: 1;
  text-align: center;
  @include ag-s12;
  color: $dark-grey;
}

.switcherItemActive {
  background-color: $white;
  color: $navy;
}

.btnText {
  @include ag-s16-reg;
  color: $dark-navy;

  @include respond-to-biz(md) {
    @include ag-s14-0;
  }
}

.logoutbtnText {
  @include ag-s16-reg;
  color: $s-red;
  text-align: center;
  width: 100%;

  @include respond-to-biz(md) {
    @include ag-s14-0;
  }
}

.cursorPointer {
  cursor: pointer;
}

.hideMd {
  @include respond-to-biz(md) {
    display: none;
  }
}

.showMd {
  display: none;
  @include respond-to-biz(md) {
    display: flex;
  }
}
