@import '/src/styles/index';

.backBtn {
  position: absolute;
  top: 21px;
  left: 29px;
  background-color: $p-ivory;
  border-radius: 10px;
  padding: 10.5px 14px;
  display: flex;
  gap: 4px;
  cursor: pointer;

  .btnIcon {
    display: flex;
    align-self: center;
    width: 14px;
    height: 15px;
  }

  .btnText {
    @include ag-P16;
    color: $p-deep-space;
    line-height: 19.52px;
  }
}
