@import '/src/styles/index';

.qrWrap {
  background-color: $white;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 40px 20px 20px 20px;
  border: 1px solid $p-ivory;
  gap: 40px;
}

.qrContent {
  position: relative;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrText {
  display: flex;
  background-color: $white;
  align-items: center;
  border-radius: 10px;
  margin-top: 12px;
  justify-content: space-between;
  border: 1px solid $p-ivory;
  padding: 12px;
}

.qrLabel {
  @include ag-P12;
  color: $p-deep-space-80;
}

.addressText {
  @include ag-H12;
  color: $p-deep-space;
  overflow: hidden;
  margin-right: 12px;
  word-break: break-all;
}

.note {
  @include ag-P10;
  color: $p-deep-space-80;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.errorContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: $p-ivory;
}
.errorBox {
  display: flex;
  padding: 24px 60px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
  background-color: #feefed;

  @include respond-to(p-mobile) {
    padding: 24px;
    margin: 0 -12px;
  }
}
.errorBoxTitle {
  display: flex;
  gap: 12px;
  align-items: center;

  @include ag-H24;
  color: $p-system-red;
  text-align: center;
}
.errorBoxText {
  @include ag-P12;
  color: $p-system-red;
  text-align: center;
  max-width: 226px;
}
.blur {
  filter: blur(10px);
}

.memoTagWrap {
  margin-top: 16px;
}
