@import '/src/styles/index';

.completeIconBlurWrap {
  position: relative;
  width: 221px;
  height: 221px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  //@media (max-width: 767px) {
  //  width: 166px;
  //  height: 166px;
  //}
}

.completeIconBlur {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  width: 141px;
  height: 141px;
  border-radius: 100%;
  z-index: 1;

  //@media (max-width: 767px) {
  //  width: 106px;
  //  height: 106px;
  //}
}

.blurEffect {
  position: absolute;
  background-color: var(--P-System-Green);
  width: 221px;
  height: 221px;
  border-radius: 100%;
  filter: blur(150px);
  opacity: 0.8;

  //@media (max-width: 767px) {
  //  width: 166px;
  //  height: 166px;
  //}
}
