@import 'src/styles';

.cardContainer {
  background-color: $white;
  padding: 60px;

  min-width: 535px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 15px;

  @include respond-to(p-mobile) {
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding: 40px 20px 60px 20px;
  }
}

.stepControllerWrap {
  display: flex;
  flex-direction: column;
  height: 350px;
}

.loadingContainer {
  background-color: $white;
  padding: 60px;
  height: 350px;

  width: 535px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

  @include respond-to(p-mobile) {
    width: 100%;
  }
}

.contentWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contentWrapFix {
  gap: 8px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.viewDetailsItemWrap {
  display: flex;
  gap: 27px;
  // align-items: center;
  align-items: flex-end;
  justify-content: space-between;
}
.flexBetweenWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.viewDetailsItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  @include ag-H24;
  color: $p-deep-space;
}

.description {
  @include ag-P14;
  color: $p-deep-space-80;
}

.closeWrap {
  display: flex;
  align-self: end;
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.viewDetailsTitle {
  @include ag-P12;
  color: $p-deep-space-80;
}

.viewDetailsDescription {
  @include ag-H14;
  color: $p-deep-space;
}
.copiedWrap {
  position: absolute;
  top: 0;
  left: 200%;
}
.mfaContainerModal {
  display: flex;
  flex-direction: column;
  padding: 94px;
  gap: 55px;
}

.mfaTextWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnWrap {
  margin-top: 92px;
}
