@import '/src/styles/index';

.page {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: $p-bg;
  gap: 30px;
  padding: 43px 20px 20px;
  overflow: hidden;

  @include respond-to(p-desktop-s) {
    padding: 30px 20px 20px;
    gap: 20px;
  }
  @include respond-to(p-tablet) {
    padding: 30px 20px 20px;
    gap: 24px;
  }

  @include respond-to(p-mobile) {
    padding: 12px;
    gap: 20px;
  }
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  border-radius: 10px;
  background-color: $white;
  overflow: auto;

  @include respond-to(p-mobile) {
    padding: 50px 0;
  }
}
