@import '/src/styles/index';

.container {
  width: 345px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 20px 20px;
  gap: 36px;
  box-sizing: border-box;
  background-color: $bg;
  border-radius: 20px;
  border: 1px solid $modal-stroke;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.icon {
  width: 49px;
  height: 49px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.assetName {
  @include ag-s14-0;
  color: $navy;
}

.assetAmountWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.assetAmount {
  @include ag-s24-reg;
  color: $navy;
}

.asset–°onvertedAmount {
  @include ag-s14-0;
  color: $dark-grey;
}

.buttonsWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  button {
    flex: 1 1 calc(50% - 5px); //gap: 10 / 2 = 5px
    max-width: calc(50% - 5px); //gap: 10 / 2 = 5px
  }

  button:last-child {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
