@import '/src/styles/index';

.backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  overflow-x: hidden;
  background-color: $xanova-overlay-bg;
  cursor: pointer;
  display: flex;
  padding: 0.9375rem;
  backdrop-filter: $xanova-overlay-blur;
}

.contentWrap {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 35px;
  background-color: $xanova-white;
  cursor: default;
  overflow-y: auto;
  box-shadow: 0px 14px 43.3px 0px #4c4c4c33;

  @include respond-to-xanova(mobile) {
    width: 100%;
  }
}

.noClose {
  & > div {
    max-height: calc(44.25rem - 1.5rem);
  }
}
.loader {
  background-color: transparent;
  & .close {
    display: none;
  }
}
.paperTopFixed {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
}
.noPadding {
  padding: 0;
  & > div {
    max-height: 44.25rem;
  }
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0 0 0 auto;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;

  &:hover {
    opacity: 0.7;
  }
}
.noPaddingClose {
  top: 1rem;
  right: 1rem;
}

//new close button
.closeButton {
  position: absolute;
  top: 23px;
  right: 40px;
  background-color: $xanova-black-10;
  border-radius: 30px;
  width: 25px;
  height: 25px;
}

.closeButton::before,
.closeButton::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 1.2px;
  background-color: $xanova-black;
  transform-origin: center;
}

.closeButton::before {
  transform: rotate(45deg);
}

.closeButton::after {
  transform: rotate(-45deg);
}

.closeButton:hover::before,
.closeButton:hover::after {
  opacity: 0.7;
}
