@import '/src/styles/index';

.container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: auto;
  align-items: center;
  max-width: 400px;
  width: 100%;
}

.title {
  @include xanova-h30-semiBold;
  color: $xanova-black;

  @include respond-to-xanova(tablet) {
    @include xanova-h20-semiBold;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  border: 1px solid $xanova-black-10;
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.flexVerticaGap5 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flexVerticaGap12 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.description {
  @include xanova-p16-regular;
  color: $xanova-black-60;
  margin-top: 0;
  text-align: center;
}

.bigDescription {
  @include xanova-h30-semiBold;
  font-size: 36px;
  color: $xanova-black;
  text-align: center;
  margin-top: 0;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
