@import '/src/styles';

.menuContainer {
  position: relative;
}

.menuDotsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: $p-ivory;
  }
}

.popup {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  top: 100%;
  right: 0px;
  width: 163px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: 1px solid $p-ivory;
  border-radius: 10px;
  background: $white;
  box-shadow: 0px 20px 30px 0px #a3a3a333;
}

.button {
  height: 48px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 13px;
  gap: 12px;
  border-radius: 10px;
  background: $white;
  border: none;
  cursor: pointer;
  @include ag-H16;
  color: $p-deep-space;

  &:hover {
    background: $p-bg;
  }
}

.icon {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
}

.red {
  color: $p-system-red;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
