@import '/src/styles';

.menuContainer {
  position: relative;
}

.menuDotsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    background-color: $dark-grey-20;
  }
}

.popup {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  top: 100%;
  right: 20px;
  width: 158px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  background: $light-grey;
  box-shadow: 0px 4px 90.4px 0px #71717130;
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 13px 20px;
  gap: 12px;
  border-radius: 20px;
  background: $white;
  border: none;
  cursor: pointer;
  @include ag-s16-reg;
  color: $dark-navy;

  &:hover {
    background: $blue-10;
  }
}

.icon {
  display: flex;
  align-items: center;
  width: 15px;
  height: 15px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
