@import '/src/styles';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: $white;
  padding: 24px 0;

  @include respond-to-biz(lg) {
    padding: 24px 50px;
  }

  @include respond-to-biz(md) {
    padding: 24px 15px;
    background-color: $light-grey;

    align-items: flex-start;
  }
}

.contentWrap {
  position: relative;
  background-color: $light-grey;
  width: 744px;
  border-radius: 20px;
  padding: 100px 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 840px;

  @include respond-to-biz(lg) {
    width: 100%;
    padding: 40px 50px;
  }

  @include respond-to-biz(md) {
    padding: 0 15px;

    width: 100%;
    border-radius: 0;
    min-height: 670px;
    height: 100%;
  }
}

.contentWrapFix {
  padding: 70px 100px;

  @include respond-to-biz(lg) {
    padding: 40px 50px;
  }
  @include respond-to-biz(md) {
    width: 100%;
    padding: 0;
  }
}

.titleWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include respond-to-biz(lg) {
    padding: 0 40px;
  }

  @include respond-to-biz(md) {
    padding: 0 10px;
  }
}

.title {
  @include ag-s30-medium;
  color: $navy;
  text-align: center;

  @include respond-to-biz(md) {
    @include ag-s24-reg;
  }
}

.description {
  @include ag-s12-medium;
  color: $dark-grey;
  text-align: center;
}

.summaryWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.summaryTitle {
  @include ag-s30-medium;
  color: $navy;
  text-align: center;

  @include respond-to-biz(md) {
    @include ag-s24-reg;
  }
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.summaryText {
  @include ag-s12;
  color: $dark-grey;
}

.summarySubText {
  @include ag-s12-semiB;
  color: $navy;
}
.summaryAddressSubText {
  @include ag-s12-semiB;
  color: $navy;

  word-break: break-all;
  text-align: end;
}

.bottonWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  gap: 30px;
}

.heightSpacer {
  height: 100%;
  max-height: 24px;
  min-height: 15px;

  @include respond-to-biz(md) {
    max-height: 24px;
  }
}

.backBtnWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @include respond-to-biz(md) {
    display: none;
  }
}

.stepControllerWrap {
  max-width: 440px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  padding: 60px 0;

  @include respond-to-biz(md) {
    padding: 0;
  }
}

.dynamicHeight {
  height: 24px;

  @include respond-to-biz(md) {
    height: 12px;
  }
}
