@import '/src/styles/index';
.title {
  @include ag-s24-reg;
  color: $navy;
  margin-bottom: 12px;
}

.containerModal {
  width: 535px;
  //height: 845px;
  display: flex;
  flex-direction: column;
  padding: 60px;
  box-sizing: border-box;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
  position: relative;

  border-radius: 20px;
  background-color: $p-bg;
  border: 1px solid $modal-stroke;

  @include respond-to-biz(md) {
    width: 345px;
    padding: 30px 20px 20px 20px;

    border: none;
    background-color: $white;
  }
}

.description {
  @include ag-s12;
  color: $dark-grey;
}

.buttonGroupFilter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 12px;
}

.btnGroupIcon {
  //width: 14px;
  margin-left: 10px;
}

.downloadBtnWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 24px;
}

.downloadBtnItem {
  width: 200px;
  height: 30px;

  @include respond-to-biz(md) {
    width: 145px;
  }
}

.downloadBtnItem a {
  width: 100%;
  height: 100%;
  background-color: $blue-20;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $blue;
  @include ag-s12;

  &:hover {
    color: $blue;
  }
}

.dinamicHeight {
  height: 24px;
}
