@import '/src/styles/index';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 0;
  color: $xanova-black;
  background-color: $xanova-white;
  border-radius: 30px;
  margin: 23px 10px 30px 10px;
  padding: 30px;

  @include respond-to-xanova(mobile) {
    margin: 20px 10px 10px 10px;
    justify-content: start;
  }
}

.containerDesktop {
  display: flex;
  flex: 1;
}

.contentWrap {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  width: 100%;

  @include respond-to-xanova(mobile) {
    flex: 1;
  }
}

.containerForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 0;
  width: 100%;
  color: $xanova-black;

  @include respond-to-xanova(desktop) {
    flex: 1;
  }

  @include respond-to-xanova(mobile) {
    flex: 1;
  }
}

.titleForm {
  @include xanova-h20-semiBold;
  color: $xanova-black;

  @include respond-to-xanova(tablet) {
    @include xanova-h30-semiBold;
  }
  @include respond-to-xanova(mobile) {
    @include xanova-h20-semiBold;
  }
}

.radioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.methodLabel {
  @include xanova-p14-regular;
  color: $xanova-black;
  margin-bottom: 20px;
}

.button {
  @include respond-to-xanova(desktop) {
    margin-top: auto;
  }

  @include respond-to-xanova(mobile) {
    margin-top: auto;
    height: 50px;
  }
}

.stepControllerWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.alignTextCenter {
  text-align: center;
}

.networkPlaceholder {
  @include xanova-p16-regular;
  color: $xanova-black-60;
}

.networkActive {
  @include xanova-p16-regular;
  color: $xanova-black;

  padding: 0 10px;
}

.networkLabel {
  @include xanova-p14-regular;
  color: $xanova-black;
  margin-bottom: 12px;
}

.networkLabelError {
  color: $xanova-red;
}
