@import '/src/styles';

.main {
  width: 100%;
  height: 100vh;
  max-width: 1900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
  background-color: $white;
}

.mainNavPanelContainer {
  position: fixed;
  width: 100%;
  max-width: 1900px;
  z-index: 1;
}

.mainNavPanel {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 80px;

  @include respond-to-biz(xl) {
    padding: 22px 50px;
  }

  @include respond-to-biz(md) {
    background-color: $light-grey;
    padding: 12px 15px;
  }
}

.bbLogo {
  width: 123px;
  height: 23px;
  cursor: pointer;

  @include respond-to-biz(md) {
    width: auto;
    height: 26px;
  }
}

.navPanelWrap {
  @include ag-s12;
  align-items: center;
  color: $dark-grey;
  display: flex;
  gap: 20px;
  line-height: 1.47;

  @include respond-to-biz(md) {
    display: none;
  }
}

.navActiveLocation {
  @include ag-s12-medium;
  color: $navy;
  cursor: pointer;
  padding: 4px 12px;

  //flex-grow: 0;
  //flex-shrink: 0;
  //flex-basis: 150px;
}

.navHover {
  cursor: pointer;
  padding: 4px 12px;

  //flex-grow: 0;
  //flex-shrink: 0;
  //flex-basis: 150px;
}

.navHover:hover {
  color: $navy;
}

.navMenu {
  position: absolute;
  width: 100%;
  height: calc(100vh - 67px);
  scrollbar-width: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1;

  @include respond-to-biz(md) {
    flex-direction: row;
    height: 100%;
    position: fixed;
  }
}

.navPanelLocalBlockWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $light-grey;

  @include ag-s12;
  color: $dark-grey;
  gap: 14px;
  padding: 15px 80px;
  z-index: 1;
}

.navPanelLocalBlock {
  //background-color: #00e06d;
  //padding: 15px 80px;
  @include ag-s12;
  color: $dark-grey;
  gap: 14px;
  display: flex;
  flex-direction: column;
}

.navBlur {
  flex-grow: 1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;

  @include respond-to-biz(md) {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}

.footer {
  padding: 22px 0;
  background-color: $white;
}
.footerText {
  @include ag-s12;
  color: $dark-grey;
  text-align: center;
}

.navProfileWrap {
  display: flex;
  align-items: center;

  @include respond-to-biz(md) {
    gap: 24px;
  }
}

.navTimerWrap {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;

  @include respond-to-biz(lg) {
    display: none;
  }
}

.settingsWrap {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.settingsBtnIcon {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid $dark-grey-20;
  display: flex;
  justify-content: center;
  align-items: center;
  @include ag-s10;
  color: $navy;
  background-color: $white;

  @include respond-to-biz(md) {
    width: 40px;
    height: 40px;
    @include ag-s12;
  }
}

.settingsText {
  @include ag-s12;
  color: $dark-grey;
}

.navBurgerBtn {
  cursor: pointer;
  width: 20px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.navBurgerLine {
  width: 20px;
  height: 2px;
  border-radius: 23px;
  background-color: $navy;
}

.navSectionMd {
  width: 245px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: $white;
  gap: 30px;
  padding: 20px 30px;
  z-index: 1;
  overflow: auto;
}

.navContentMd {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.navTitleMd {
  @include ag-s24-reg;
  color: $navy;
  text-transform: capitalize;
}

.navItemsWrapMd {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navItemsMd {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.navItemTextMd {
  @include ag-s16-reg;
  color: $dark-grey;
  cursor: pointer;

  &:hover {
    color: $navy;
  }
}
.navItemActiveMd {
  color: $navy;
}

.headerSpacer {
  min-height: 74px;

  @include respond-to-biz(md) {
    min-height: 64px;
  }
}
