@import '/src/styles';

.container {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  gap: 36px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
  background-color: $white;
  border-radius: 30px;
  box-shadow: $xanova-modal-shadow;

  @include respond-to-xanova(mobile) {
    width: 100%;
    min-width: auto;
    padding: 60px 20px 40px 20px;
  }
}

.title {
  @include xanova-h20-semiBold;
  color: $xanova-black;
  text-align: center;
}

.description {
  @include xanova-p16-regular;
  color: $xanova-black-60;
  text-align: center;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
