@import '/src/styles';

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 33px;
  padding: 16px 80px;
  background-color: $white;

  @include respond-to-biz(xl) {
    flex-direction: column;
    padding: 16px 50px;
  }

  @include respond-to-biz(md) {
    flex-direction: column;
    padding: 42px 15px;
  }
}

.walletSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 26px;

  @include respond-to-biz(md) {
    display: none;
  }
}
.walletColumnLabel {
  @include ag-s20-reg;
  color: $navy;
}
.viewAllButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  @include ag-s12;
  color: $dark-grey;
  letter-spacing: -0.5px;
  text-decoration: underline;
}

.fiatWalletCardWrap {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.totalBalanceCard {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
  gap: 32px;
  border-radius: 20px;
  background-color: $light-grey;
  justify-content: end;

  @include respond-to-biz(xl) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;
    flex: 0 0 100%;
  }
}
.priceChangeBox {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 5px;
  padding: 4px 10px;
  border-radius: 20px;
  @include ag-s10;

  @include respond-to-biz(xl) {
    align-self: center;
  }

  &.bgRed {
    background-color: $lg-red-20-white-100;
    color: $s-red;
  }
  &.bgGreen {
    background-color: $lg-green-20-white-100;
    color: $s-green;
  }
}
.priceChangeBoxIcon {
  width: 10px;
  height: 10px;
}

.totalBalanceTitleWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include respond-to-biz(xl) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px;
  }
}
.totalBalanceTitle {
  @include ag-s30-medium;
  color: $navy;

  @include respond-to-biz(xl) {
    @include ag-s24-reg;
  }
}
.totalBalanceSubTitle {
  @include ag-s12;
  color: $navy;
}
.fiatWalletCardWrap {
  box-sizing: border-box;
  flex-grow: 1;

  @include respond-to-biz(lg) {
    width: 100%;
  }
}

//transactionHistory
.transactionHistory {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;

  @include respond-to-biz(lg) {
    display: none;
  }
}

.txnHistoryWrap {
  height: calc(100vh - 435px); // TODO !Обновить при добавлении компонентов или изменении стилей
  overflow: auto;

  @include respond-to-biz(xl) {
    height: calc(100vh - 580px); // TODO !Обновить при добавлении компонентов или изменении стилей
  }
}
