@import '/src/styles/index';

.backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
  padding: 0.9375rem;

  @include respond-to(p-mobile) {
    padding: 0;
    align-items: end;
  }
}

.contentWrap {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: default;
  overflow-y: auto;

  border-radius: 15px;
  background-color: $white;

  box-shadow: 0px 30px 30px 10px rgba(163, 163, 163, 0.25);

  @include respond-to(p-mobile) {
    width: 100%;
    border-radius: 15px 15px 0 0;
    margin: 0;
  }
}
.contentWrapBizFix {
  border-radius: 0;
  background-color: transparent;
}

//new close button
.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0 0 0 auto;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  width: 25px;
  height: 25px;

  @include respond-to-biz(md) {
    top: 15px;
    right: 15px;
  }
}

.closeButton::before,
.closeButton::after {
  content: '';
  position: absolute;
  width: 17.68px;
  height: 0.7px;
  background-color: $navy;
  transform-origin: center;
}

.closeButton::before {
  transform: rotate(45deg);
}

.closeButton::after {
  transform: rotate(-45deg);
}

.closeButton:hover::before,
.closeButton:hover::after {
  opacity: 0.5;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0 0 0 auto;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  width: 25px;
  height: 25px;
}

.close::before,
.close::after {
  content: '';
  position: absolute;
  width: 17.68px;
  height: 1.96px;
  background-color: $p-deep-space;
  transform-origin: center;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.close:hover::before,
.close:hover::after {
  opacity: 0.5;
}
