@import '/src/styles/index';

.backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  overflow-x: hidden;
  background-color: $xanova-overlay-bg;
  backdrop-filter: $xanova-overlay-blur;
  -webkit-backdrop-filter: $xanova-overlay-blur;
  cursor: pointer;
  display: flex;
  padding: 10px;
}

.contentWrap {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  border-radius: 30px;

  cursor: default;
  overflow-y: auto;
}

//close button
.close {
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: $xanova-black-10;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;

  &:hover {
    opacity: 0.7;
  }

  @include respond-to-xanova(mobile) {
    top: 16px;
    right: 16px;
  }
}

.close::before,
.close::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 1.2px;
  background-color: $xanova-black;
  transform-origin: center;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.close:hover::before,
.close:hover::after {
  opacity: 0.7;
}
