@import '/src/styles';

.containerModal {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.contentWrapModal {
  background-color: $white;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 40px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.title {
  @include ag-s20-reg;
  color: $navy;
  text-align: start;
}
