@import '/src/styles/index';

.containerModal {
  width: 535px;
  display: flex;
  flex-direction: column;
  padding: 60px;
  box-sizing: border-box;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
  align-items: center;

  border-radius: 20px;
  background-color: $bg;
  border: 1px solid $modal-stroke;

  @include respond-to-biz(md) {
    padding: 30px 20px 20px 20px;

    border: none;
    background-color: $white;
  }
}

.textTitle {
  @include ag-s24-reg;
  color: $navy;

  @include respond-to-biz(md) {
    width: 100%;
  }
}

.textDescription {
  @include ag-s12;
  color: $dark-grey;

  @include respond-to-biz(md) {
    width: 100%;
  }
}

.height12 {
  height: 12px;
}

.height36 {
  height: 36px;
}
