@import '/src/styles';

.container {
  display: flex;
  align-items: center;
  gap: 16px;

  @include respond-to-biz(lg) {
    flex-direction: column;
    gap: 5px;
  }
}
.titleWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  @include ag-s14-0;
  color: $dark-grey;

  &.red {
    color: $s-red;
  }

  @include respond-to-biz(md) {
    @include ag-s10;
  }
}

.timerBlock {
  display: flex;
  padding: 8.5px 20px;
  border-radius: 31px;
  gap: 8px;

  &.primary {
    background-color: $blue-20;
  }
  &.red {
    background-color: $s-red-20;
  }

  @include respond-to-biz(lg) {
    display: none;
  }
}

.timerUnit {
  @include ag-s14-0;
  color: $navy;
  &.primary {
    color: $navy;
  }
  &.red {
    color: $s-red;
  }
}

.progressBarWrap {
  display: none;

  @include respond-to-biz(lg) {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}

.timerBlockForLgAndDown {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 8px;
}

.timerUnitForLgAndDown {
  @include ag-s10;
  color: $navy;
  &.primary {
    color: $navy;
  }
  &.red {
    color: $s-red;
  }
}

.progressBar {
  display: none;

  @include respond-to-biz(lg) {
    width: 100%;
    height: 4px;
    border-radius: 100px;
    background-color: $dark-grey-20;
    display: block;
  }
}

.progress {
  height: 100%;
  width: 100px;
  border-radius: 100px;
  background-color: $blue;
  &.primary {
    background-color: $blue;
  }
  &.red {
    background-color: $s-red;
  }
}
