@import '/src/styles';

.contentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  @include xanova-h30-semiBold;
  color: $xanova-black;

  margin-bottom: 8px;

  @include respond-to-xanova(mobile) {
    @include xanova-h20-semiBold;
  }
}

.description {
  @include xanova-p16-regular;
  color: $xanova-black-60;
  text-align: center;
}

.formWrap {
  max-width: 440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hintWrap {
  margin-top: 12px;
}

.hintTitle {
  @include xanova-p12-regular;
  color: $xanova-black-50;
  margin-bottom: 12px;
}

.hintPass {
  @include xanova-p12-regular;
  color: $xanova-black-60;
  margin-left: 8px;
  margin-bottom: 8px;
}

.errorResponse {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  @include xanova-p12-regular;
  color: $xanova-red;
  text-align: center;
  margin-top: 10px;
}

.btnWrap {
  display: flex;
  gap: 12px;
  width: 100%;
}
