@import '/src/styles';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $p-bg;
  height: 100%;

  @include respond-to(p-mobile) {
    padding: 12px;
    box-sizing: border-box;
  }
}

.headerWrap {
  margin: 20px 25px 10px 25px;

  @include respond-to(p-mobile) {
    margin: 0 0 20px;
  }
}

.contentWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 10px;
  //margin: 20px;
  padding: 100px 40px;
  background-color: $white;

  @include respond-to(p-mobile) {
    margin: 0;
    padding: 50px 20px;
  }
}

.isSuccessIconWrap {
  height: 159px;
  margin-bottom: 79px;
  //margin-top: 160px;
}

.title {
  @include ag-H30;
  color: $p-deep-space;
  text-align: center;

  margin-bottom: 16px;

  @include respond-to(p-mobile) {
    @include ag-H24;
  }
}

.description {
  @include ag-P16;
  color: $p-deep-space-80;
  max-width: 496px;
  text-align: center;
}

.btnIconLeft {
  width: 10px;
  height: 10px;
  margin-right: 12px;
}

.btnIconRight {
  width: 10px;
  height: 10px;
  margin-left: 12px;
  transform: rotate(180deg);
}
