@import '/src/styles/index';

.title {
  @include ag-H24;
  color: $p-deep-space;
}

.description {
  @include ag-P12;
  color: $p-deep-space-80;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 54px 60px;
  min-width: 535px;
  box-sizing: border-box;
  background-color: $white;
  border-radius: 15px;

  @include respond-to(p-mobile) {
    min-width: 100%;
    border-radius: 15px 15px 0 0;
    padding: 40px 20px 60px 20px;
  }
}
