@import '/src/styles';

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  padding: 16px 80px;
  background-color: $white;

  @include respond-to-biz(xl) {
    flex-direction: column;
    padding: 16px 50px;
  }

  @include respond-to-biz(md) {
    flex-direction: column;
    padding: 24px 15px;
  }
}

.headerTitleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 26px;

  @include respond-to-biz(md) {
    display: none;
  }
}

.headerTitle {
  @include ag-s20-reg;
  color: $navy;
  text-wrap-mode: nowrap;

  @include respond-to-biz(md) {
    @include ag-s16-medium;
  }
}

.header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.headerTitleAndSearchWrap {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 70%;
}

.searchBarWrap {
  min-width: 109px;
  max-width: 235px;
  height: 24px;
  width: 100%;
}

.searchBarWrapMd {
  display: none;

  @include respond-to-biz(md) {
    display: flex;
    min-height: 36px;
    width: 100%;
    margin-bottom: 12px;
  }
}

.table {
  background-color: $light-grey-50;
  border-radius: 20px;
  height: 100%;

  @include respond-to-biz(lg) {
    background-color: $white;
  }
}

.tableHeader {
  display: flex;
  padding: 20px;
  gap: 50px;

  @include respond-to-biz(lg) {
    display: none;
  }
}

.tableHeaderText {
  @include ag-s12;
  color: $dark-grey;
}

.tableRowsWrap {
  overflow: auto;
  height: calc(100vh - 270px); // TODO !Обновить при добавлении компонентов или изменении стилей

  @include respond-to-biz(lg) {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: calc(100vh - 215px); // TODO !Обновить при добавлении компонентов или изменении стилей
  }
  @include respond-to-biz(md) {
    height: calc(100vh - 290px); // TODO !Обновить при добавлении компонентов или изменении стилей
  }
}

.tableRow {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 50px;
  border-radius: 10px;

  &:hover {
    background-color: $blue-10;
  }

  @include respond-to-biz(lg) {
    gap: 12px;
    justify-content: space-between;
    padding: 10px;
    background-color: $light-grey;
    border-radius: 20px;
  }
  @include respond-to-biz(md) {
    gap: 1px;
    cursor: pointer;
  }
}

.tableRowTextLable {
  @include ag-s14-0;
  color: $navy;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tableRowTextAddress {
  @include ag-s14-0;
  color: $navy;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include respond-to-biz(lg) {
    text-align: end;
  }
}

.tableRowTextTag {
  @include ag-s12;
  color: $navy;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include respond-to-biz(lg) {
    @include ag-s10;
    color: $dark-grey;
  }
}

.textTagLgAndMd {
  display: none;

  @include respond-to-biz(lg) {
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include ag-s10;
    color: $dark-grey;
    text-align: end;
  }
}

.textLableLgAndMd {
  display: none;

  @include respond-to-biz(lg) {
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include ag-s14-0;
    color: $navy;
  }
}

.assetItem {
  display: flex;
  min-width: 0; //fix for work text-overflow: ellipsis

  @include respond-to-biz(xl) {
    flex-direction: column;
    gap: 2px;
  }
}

.tableRowTextNetworkId {
  @include ag-s14-0;
  color: $navy;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include respond-to-biz(lg) {
    @include ag-s10;
    color: $dark-grey;
  }
}

.assetIcon {
  width: 35px;
  height: 35px;
}

.actionButtons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menuDotsWrap {
  display: none;

  @include respond-to-biz(xl) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include respond-to-biz(md) {
    display: none;
  }
}

.placeholder {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 44px;
}

.placeholderText {
  @include ag-s14-0;
  color: $dark-grey;
  text-align: center;
  line-height: 28px;
}

.cell1 {
  flex: 0.67;
  display: flex;
  align-items: center;
  gap: 12px;

  overflow: hidden;

  @include respond-to-biz(lg) {
    flex: 1;
  }
}

.cell2 {
  flex: 1;
  overflow: hidden;

  @include respond-to-biz(lg) {
    display: none;
  }
}

.cell3 {
  flex: 1.25;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: transparent;

  .iconCopy {
    display: none;
  }

  &:hover {
    background-color: $white;

    .iconCopy {
      display: flex;
      cursor: pointer;
      margin-right: 10px;
    }

    .tableRowTextAddress {
      margin: 0 10px;
    }
  }

  @include respond-to-biz(lg) {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;

    pointer-events: none;
  }
}

.cell4 {
  flex: 0.67;
  overflow: hidden;

  @include respond-to-biz(lg) {
    display: none;
  }
}

.cell5 {
  flex: 0.9;

  @include respond-to-biz(xl) {
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  @include respond-to-biz(lg) {
    flex: 0.1;
  }
  @include respond-to-biz(md) {
    display: none;
  }
}

.loader {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hideXlAndDown {
  @include respond-to-biz(xl) {
    display: none;
  }
}

.hideMdAndDown {
  @include respond-to-biz(md) {
    display: none;
  }
}
