@import '/src/styles';

.contentWrap {
  border-radius: 10px;
  padding: 24px;
  background-color: $white;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @include respond-to(p-mobile) {
    padding: 12px;
  }
}

.cardsWrap {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  overflow: auto;

  @include respond-to(p-desktop-s) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to(p-mobile) {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}

//supercharge card
.superchargeCard {
  display: flex;
  flex-direction: column;
  gap: 46px;
  padding: 24px;
  border-radius: 15px;
  background-color: $p-bg;
}

.superchargeCardContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.superchargeCardHeader {
  display: flex;
  gap: 24px;
}

.superchargeCardHeaderIcon {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}

.superchargeCardHeaderTitleWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.superchargeCardHeaderTitle {
  @include ag-H16;
  color: $p-system-green;
}

.superchargeCardHeaderSubTitle {
  @include ag-H20;
  color: $p-deep-space;
}

.superchargeCardHeaderLine {
  border-bottom: 1px solid $p-ivory;
}

.superchargeCardBodyWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.superchargeCardBody {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.superchargeCardBodyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.superchargeCardBodyRowTitle {
  @include ag-P12;
  color: $p-deep-space-80;
}
.superchargeCardBodyRowSubTitle {
  @include ag-H12;
  color: $p-deep-space;
  text-align: right;
}

.superchargeCardProgressWrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.superchargeCardProgressTitle {
  @include ag-H16;
  color: $p-deep-space;
}

//header switcher
.tableTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-color: $p-bg;
  border-bottom-style: solid;
  padding-bottom: 24px;
  margin-bottom: 24px;

  @include respond-to(p-mobile) {
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
}

.manageCardSwitchBlock {
  display: flex;
  gap: 24px;
}

.manageCardBtn {
  @include ag-H14;
  color: $p-simple-soft-grey;
  padding: 2px 0;
  cursor: pointer;
}

.manageCardBtnActive {
  color: $p-deep-space;
  border-bottom: 1px solid $p-system-green;
}

//form
.contentFormWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 10px;
  padding: 32px 24px;
  background-color: $white;
}
.mainForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 440px;
}

.formTitle {
  @include ag-H30;
  color: $p-deep-space;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 36px;
}

//Summary
.contentSummaryWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-radius: 10px;
  padding: 32px 24px;
  background-color: $white;

  @include respond-to(p-mobile) {
    padding: 24px 12px;
  }
}

.contentSummary {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 440px;
}

.summaryTitle {
  @include ag-H30;
  color: $p-deep-space;
  text-align: center;
  margin-bottom: 12px;
}

.summarySubTitle {
  @include ag-P16;
  color: $p-deep-space-80;
  text-align: center;
  margin-bottom: 50px;
}

.summaryContentWrap {
  display: flex;
  flex-direction: column;
}

.summaryBlockTitle {
  @include ag-P12;
  color: $p-deep-space-80;
  margin-bottom: 6px;
}

.summaryBlockSubTitle {
  @include ag-H24;
  color: $p-deep-space;
  margin-bottom: 8px;
}

.summaryCurrencyAmount {
  @include ag-P16;
  color: $p-deep-space-80;
  margin-bottom: 26px;
}

.summaryConversion {
  @include ag-P12;
  color: $p-deep-space-80;
}

.summaryDivider {
  border-bottom: 1px solid $p-deep-space-10;
  margin: 26px 0;
}

.summaryAttentionText {
  @include ag-P12;
  background-color: $p-system-yellow-10;
  padding: 24px;
  border-radius: 10px;
  color: $p-system-yellow;
  display: flex;
  align-items: center;
}

.summaryAttentionDescriptionLink {
  @include ag-P12;
  color: $p-system-yellow;
  text-decoration: underline;
}

.summaryAttentionIcon {
  height: 24px;
  margin-right: 24px;
}

.summaryAutoHeight100 {
  max-height: 100px;
  min-height: 50px;
  height: 100%;
}

.summaryAutoHeight56 {
  max-height: 56px;
  min-height: 28px;
  height: 100%;
}

.summaryBtnsWrap {
  display: flex;
  gap: 16px;
}

.summaryBtnBack {
  width: 100%;
  max-width: 136px;
}

// no Supercharge

.noSuperchargeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-height: 650px;

  @include respond-to(p-mobile) {
    padding: 13px;
  }
}

.noSuperchargeTitle {
  @include ag-H30;
  color: $p-deep-space;
  text-align: center;
  margin-bottom: 16px;

  @include respond-to(p-mobile) {
    @include ag-H20;
  }
}

.noSuperchargeDescription {
  @include ag-P16;
  color: $p-deep-space;
  text-align: center;
  max-width: 513px;
  line-height: 170%;

  @include respond-to(p-mobile) {
    @include ag-P14;
  }
}

//other
.errorText {
  @include ag-P12;
  color: $p-system-red;
}

.errorWrap {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.errorIcon {
  width: 14px;
  height: 14px;
}
