@import '/src/styles';

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 33px;
  padding: 16px 80px;
  background-color: $white;

  @include respond-to-biz(xl) {
    flex-direction: column;
    padding: 16px 50px;
  }

  @include respond-to-biz(md) {
    flex-direction: column;
    padding: 42px 15px;
  }
}

.headerSection {
  display: flex;
  gap: 12px;
}
.totalBalance {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
}
.chartsWrap {
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 12px;

  @include respond-to-biz(xl) {
    flex: 1;
  }
  @include respond-to-biz(lg) {
    display: none;
  }
}
.chartCardsWrap {
  display: flex;
  flex-grow: 1;
  gap: 12px;
  flex-wrap: wrap;
}
.chartCard {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
  gap: 32px;
  border-radius: 20px;
  background-color: $light-grey;

  width: 49%;
  box-sizing: border-box;
  max-height: 155px;
}
.chartAssetRow {
  display: flex;
  gap: 11.75px;
  position: absolute;
}
.chartAssetIcon {
  width: 35.5px;
  height: 35.5px;
}
.chartAssetWrapText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.chartAssetText {
  @include ag-s14-0;
  color: $navy;
}
.chartAssetSubText {
  @include ag-s12;
  color: $dark-grey;
}

.headerTitleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 26px;

  @include respond-to-biz(md) {
    display: none;
  }
}
.headerTitle {
  @include ag-s20-reg;
  color: $navy;
  text-wrap-mode: nowrap;

  @include respond-to-biz(md) {
    @include ag-s16-medium;
  }
}

.totalBalanceCard {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
  gap: 32px;
  border-radius: 20px;
  background-color: $light-grey;
  justify-content: end;

  @include respond-to-biz(lg) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;
  }
}
.priceChangeBox {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 5px;
  padding: 4px 10px;
  border-radius: 20px;
  @include ag-s10;

  @include respond-to-biz(lg) {
    align-self: center;
  }

  &.bgRed {
    background-color: $lg-red-20-white-100;
    color: $s-red;
  }
  &.bgGreen {
    background-color: $lg-green-20-white-100;
    color: $s-green;
  }
}
.priceChangeBoxIcon {
  width: 10px;
  height: 10px;
}

.priceIsPosIcon {
  transform: rotate(90deg);
  margin-left: 0px;
  margin-right: 0px;
  // color: $s-red;
}

.priceIsNegIcon {
  transform: rotate(-90deg);
  margin-left: -6px;
  margin-right: 6px;
  // color: $s-green;
}

.totalBalanceTitleWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;

  @include respond-to-biz(lg) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px;
  }
}
.totalBalanceTitle {
  @include ag-s30-medium;
  color: $navy;

  @include respond-to-biz(xl) {
    @include ag-s24-reg;
  }
}
.totalBalanceSubTitle {
  @include ag-s12;
  color: $navy;
}
.fiatWalletCardWrap {
  box-sizing: border-box;
  flex-grow: 1;

  @include respond-to-biz(lg) {
    width: 100%;
  }
}

//table
.sectionTable {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;

  @include respond-to-biz(md) {
    gap: 24px;
  }
}
.sectionTableHeader {
  display: flex;
  gap: 20px;
  padding: 5px 0;
  justify-content: space-between;
}

.headerTitleAndSearchWrap {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
}
.searchBarWrap {
  min-width: 109px;
  max-width: 235px;
  height: 24px;
  width: 100%;

  @include respond-to-biz(md) {
    max-width: none;
    width: 100%;
    height: 36px;
  }
}

.tableHideZeroWrap {
  display: flex;
  gap: 10px;
  align-items: center;
}
.tableHideZero {
  @include ag-s12;
  color: $dark-grey;
  text-wrap-mode: nowrap;
}

.table {
  background-color: $light-grey-50;
  border-radius: 20px;
  height: 100%;

  @include respond-to-biz(md) {
    background-color: $white;
  }
}
.tableHeader {
  display: flex;
  padding: 20px;
  gap: 10px;

  @include respond-to-biz(md) {
    display: none;
  }
}
.tableHeaderText {
  @include ag-s12;
  color: $dark-grey;
}

.tableRowsWrap {
  overflow: auto;
  height: calc(100vh - 505px); // TODO !Обновить при добавлении компонентов или изменении стилей
  min-height: 150px;

  @include respond-to-biz(md) {
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 100%;
  }
}

.tableRow {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    background-color: $blue-10;
  }

  @include respond-to-biz(md) {
    display: flex;
    justify-content: space-between;
    background-color: $light-grey;
    border-radius: 20px;
  }
}

.tableRowText {
  @include ag-s12;
  color: $navy;

  @include respond-to-biz(md) {
    @include ag-s14-0;
  }
}
.tableRowSubText {
  @include ag-s12;
  color: $dark-grey;

  @include respond-to-biz(md) {
    @include ag-s10;
  }
}

.assetItem {
  display: flex;
  gap: 12px;
  align-items: center;

  @include respond-to-biz(xl) {
    flex-direction: column;
    align-items: baseline;
    gap: 2px;
  }
}
.assetIcon {
  width: 35px;
  height: 35px;
}

.priceChangeItem {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 18px;
}

.actionButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cell1 {
  flex: 0.85;

  display: flex;
  align-items: center;
  gap: 12px;
}
.cell2 {
  flex: 0.85;

  display: flex;
  align-items: center;
  gap: 12px;

  @include respond-to-biz(xl) {
    flex-direction: column-reverse;
    gap: 2px;
    align-items: baseline;
  }
  @include respond-to-biz(lg) {
    display: none;
  }
}
.cell3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;

  @include respond-to-biz(md) {
    align-items: end;
  }
}
.cell4 {
  flex: 1;

  @include respond-to-biz(xl) {
    display: none;
  }
}
.cell5 {
  flex: 1.55;

  @include respond-to-biz(xl) {
    flex: 0.2;
  }

  @include respond-to-biz(md) {
    display: none;
  }
}

.colorRed {
  color: $s-red;
}

.colorGreen {
  color: $s-green;
}

.menuDotsWrap {
  display: none;

  @include respond-to-biz(xl) {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  @include respond-to-biz(md) {
    display: none;
  }
}

.hideXlAndDown {
  @include respond-to-biz(xl) {
    display: none;
  }
}
.hideMdAndDown {
  @include respond-to-biz(md) {
    display: none;
  }
}
.showXlAndDown {
  display: none;

  @include respond-to-biz(xl) {
    display: block;
  }
}
.showMdAndDown {
  display: none;

  @include respond-to-biz(md) {
    display: block;
  }
}

.chartWrap {
  max-height: 90px;
  margin-top: 25px;
}
