@import '/src/styles';

.container {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid $dark-grey-20;
  background-color: $white;

  @include respond-to-biz(md) {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rowTitle {
  @include ag-s16-medium;
  color: $navy;
  @include respond-to-biz(md) {
    @include ag-s14-medium;
  }
}
.rowText {
  @include ag-s16-reg;
  color: $navy;

  @include respond-to-biz(md) {
    @include ag-s12;
  }
}

.wordBreak {
  word-break: break-all;
  overflow-wrap: break-word;
}

.rowSubTextWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.rowSubText {
  @include ag-s14-0;
  color: $dark-grey;

  @include respond-to-biz(md) {
    @include ag-s10;
  }
}

.offerSubText {
  @include ag-s14-0;
  color: $navy;

  @include respond-to-biz(md) {
    @include ag-s12;
  }
}
.colorNavy {
  color: $navy;
}
.flex1 {
  flex: 1;
}

.arrow {
  cursor: pointer;
}

.divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid $dark-grey-20;

  @include respond-to-biz(md) {
    margin: 10px 0;
  }
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include respond-to-biz(md) {
    gap: 10px;
  }
}
.detailsWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.details {
  display: flex;
  gap: 36px;

  @include respond-to-biz(lg) {
    flex-direction: column;
    gap: 12px;
  }
  @include respond-to-biz(md) {
    gap: 4px;
  }
}
.btnAndTimerWrap {
  display: flex;
  justify-content: space-between;

  @include respond-to-biz(lg) {
    flex-direction: column;
  }
}

.buttons {
  width: 316px;
  display: flex;
  gap: 8px;

  @include respond-to-biz(md) {
    width: 100%;
    height: 35px;
    align-items: center;
  }
}

.rotate180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.rotate0 {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.statusWrap {
  display: flex;
  justify-content: end;
  gap: 27px;
  height: 26px;
}

.statusBadge {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  gap: 8px;
  padding: 6px 12px;
  border-radius: 61px;

  &.success {
    background-color: $lg-green-20-white-100;
  }
  &.warning {
    background-color: $lg-yellow-20-white-100;
  }
  &.error {
    background-color: $lg-red-20-white-100;
  }

  @include respond-to-biz(md) {
    padding: 4px 10px;
    height: 23px;
  }
}

.statusBadgeText {
  @include ag-s12;
  white-space: nowrap;

  &.success {
    color: $s-green;
  }
  &.warning {
    color: $s-yellow;
  }
  &.error {
    color: $s-red;
  }

  @include respond-to-biz(md) {
    @include ag-s10;
  }
}

.hideLgAndDown {
  @include respond-to-biz(lg) {
    display: none;
  }
}

.showLgAndDown {
  display: none;

  @include respond-to-biz(lg) {
    display: block;
  }
}

.showInlineLgAndDown {
  display: none;

  @include respond-to-biz(lg) {
    display: inline;
  }
}

.showInlineMdAndDown {
  display: none;

  @include respond-to-biz(md) {
    display: inline;
  }
}
.hideMdAndDown {
  @include respond-to-biz(md) {
    display: none;
  }
}
