@import '/src/styles';

.contentWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  @include xanova-h30-semiBold;
  color: $xanova-black;
  text-align: center;

  margin-bottom: 8px;

  @include respond-to-xanova(mobile) {
    @include xanova-h20-semiBold;
  }
}

.description {
  @include xanova-p16-regular;
  color: $xanova-black-60;
  text-align: center;
}
